canvas { background-color: #000000; }
body { background-color: #000000; }
img{ border: 0px }	

@font-face {
    font-family: 'coconbold';
    src: url('./font/cocon-bold-opentype-webfont.eot');
    src: url('./font/cocon-bold-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/cocon-bold-opentype-webfont.woff2') format('woff2'),
         url('./font/cocon-bold-opentype-webfont.woff') format('woff'),
         url('./font/cocon-bold-opentype-webfont.ttf') format('truetype'),
         url('./font/cocon-bold-opentype-webfont.svg#coconbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.whiteText { color: #75242C; font-family:coconbold;}
.prizeText {color: #75242C; font-size: 36px;}

#startText { font-size: 36px; position:absolute; left:0px; top:80px; width: 725px; z-index:300000; display: block;}

#gameVideo {position: absolute; left:0px; top:0px;}
#winImage {position: absolute; left:370px; top:70px;}
#canvas {position: absolute; left:0px; top:0px;}
#termsText { font-size: 22px; z-index:300004; position: absolute; left: 240px; top: 555px;}
#infoText { font-size: 42px; position:absolute; left:200px; top:120px; width: 525px; z-index:300000; display: block;}

#startLogoButton {position: absolute; width:406px; height:120px; left: 160px; top: 350px; z-index:300001;}
#startGameButton {position: absolute; width:240px; height:160px; left: 250px; top: 265px; z-index:300001;}

#tooltip {position: absolute; left: 365px; top: 70px; display: none;}
#logo {position: absolute; left: 235px; top: 25px; display: none;}
#winText {display: none;}
#notTodayText {display: none;}
#notLoggedText {display: none;}
#ErrorText {display: none;}
#safeOpen {display: none;}

#gameContainer {position: absolute; left: 0px; top: 0px; }
#loaderHolder {position: absolute; left: 0px; top: 0px; width:1px; height:1px; background-color: #000000; z-index:300005; display: none;}

#p1active {position: absolute; left: 350px; top: 222px;}
#p2active {position: absolute; left: 373px; top: 229px;}
#p3active {position: absolute; left: 386px; top: 248px;}
#p4active {position: absolute; left: 386px; top: 271px;}
#p5active {position: absolute; left: 373px; top: 290px;}
#p6active {position: absolute; left: 350px; top: 297px;}
#p7active {position: absolute; left: 327px; top: 290px;}
#p8active {position: absolute; left: 314px; top: 271px;}
#p9active {position: absolute; left: 314px; top: 248px;}
#p10active {position: absolute; left: 327px; top: 229px;}

#p1pasive {position: absolute; left: 350px; top: 222px;}
#p2pasive {position: absolute; left: 373px; top: 229px;}
#p3pasive {position: absolute; left: 386px; top: 248px;}
#p4pasive {position: absolute; left: 386px; top: 271px;}
#p5pasive {position: absolute; left: 373px; top: 290px;}
#p6pasive {position: absolute; left: 350px; top: 297px;}
#p7pasive {position: absolute; left: 327px; top: 290px;}
#p8pasive {position: absolute; left: 314px; top: 271px;}
#p9pasive {position: absolute; left: 314px; top: 248px;}
#p10pasive {position: absolute; left: 327px; top: 229px;}

#requestAnimation {position: absolute; left: 420px; top: 247px; width:110px; height:110px; z-index:300006; display: none; background: transparent url(images/request_loader.png)}
#preloaderAnimation {position: absolute; left: 420px; top: 247px; width:110px; height:110px; z-index:300006; display: none; background: transparent url(images/request_loader.png)}

#playNow { font-size: 28px; color: #ffffff; text-shadow: 2px 2px #000000; position:absolute; left:0px; top:400px; width: 725px; z-index:300000; display: block;}
 